Q1 : Remove empty strings from the list of strings having values Fingertips,"",data,"",Intelligence,"",Solutions.

In [3]:
List = ["Fingertips","","Data","Intelligence","","Solutions"]
List = list(filter(None, List))
List

['Fingertips', 'Data', 'Intelligence', 'Solutions']

 Result = ['Fingertips', 'Data', 'Intelligence', 'Solutions']

Q2 : Add item 7000 after 6000 in the following Python List
   List = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [20]:
List = [10,20,[300,400,[5000,6000],500],30,40]
List[2][2].append(7000)
List

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Result = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q3 : Given a Python list, remove the first occurrence of 20 from the list having values 5, 20, 15, 20, 25, 50, 20

In [26]:
List1 = [5,20,15,20,25,50,20]
List1.remove(20)
List1

[5, 15, 20, 25, 50, 20]

Result = [5, 15, 20, 25, 50, 20]

Q4 : Given the list L1 = ['a','b','c'] create a list having the 3 elements which contains the given. list (list of list)

In [43]:
L1 = ["a","b","c"]
L2 = [L1]*3
L2

[['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c']]

Result = [['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c']]

Q5 : Below are the two lists convert it into the dictionary.

keys = ['one', 'two', 'three']

values = [1, 2, 3]

In [4]:
keys = ["one","two","three"]
values = [1,2,3]
simpledict = dict(zip(keys,values))
print(simpledict)

{'one': 1, 'two': 2, 'three': 3}

Resul = {'one': 1, 'two': 2, 'three': 3}

Q6 : Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [49]:
dict1 = {"Ten":10,"Twenty":20,"Thirty":30}
dict2 = {"Thirty":30,"Fourty":40,"Fifty":50}
dict3 = {**dict1,**dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Resul = {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Q7 : Access the value of key ‘history’

dict1 = { "class":{ "student":{ "name":"Mike","marks":{ "physics":70,"history":80 } } } }

In [51]:
dict1 = {"class":{"Student":{"name":"Mike","marks":{"physics":70,"history":80}}}}
dict1["class"]["Student"]["marks"]["history"]

80

Result = 80

Q8 : Rename key city to location in the following dictionary.

dict1 = { "name": "Akshay", "age":25, "salary": 80000, "city": "Mumbai"}

In [56]:
dict1 = {"name":"Akshay","age":25,"salary":8000,"city":"Mumbai"}
dict1["Location"] = dict1.pop("city")
dict1

{'name': 'Akshay', 'age': 25, 'salary': 8000, 'Location': 'Mumbai'}

Result =  {'name': 'Akshay', 'age': 25, 'salary': 80000, 'location': 'Mumbai'}

Q9 : Get the key corresponding to the minimum value from the following dictionary.

dict1 = { 'Physics': 82, 'Math': 65, 'Chemistry': 75}

In [57]:
dict1 = {"Physics":82,"Math":65,"Chemestry":75}
print(min(dict1,key=dict1.get))

Math

Result = Math

Q10 : Given a Python dictionary, Change Akshay's salary to 85000.

dict1 = {
     'emp1': {'name': 'Jay', 'salary': 75000},
     'emp2': {'name': 'Akshay', 'salary': 80000},
     'emp3': {'name': 'Hrishikesh', 'salary': 65000}
}

In [68]:
dict1 = {
    "emp1":{"name":"jay","salary":75000},
    "emp2":{"name":"Akshay","salary":80000},
    "emp3" :{"name":"Hrishikesh","salary":65000}
}
dict1['emp3']["salary"] = 85000
dict1

{'emp1': {'name': 'jay', 'salary': 75000},
 'emp2': {'name': 'Akshay', 'salary': 80000},
 'emp3': {'name': 'Hrishikesh', 'salary': 85000}}

Result = {'emp1': {'name': 'Jay', 'salary': 75000}, 'emp2': {'name': 'Akshay', 'salary': 80000}, 'emp3': {'name': 'Hrishikesh', 'salary': 85000}}